apiVersion: v1
kind: ConfigMap
metadata:
  name: mariadb-init-script
  namespace: nextcloud
data:
  init.sql: |
    CREATE DATABASE IF NOT EXISTS nextcloud;
    CREATE USER IF NOT EXISTS 'nextcloud'@'%' IDENTIFIED BY 'nextcloud123';
    GRANT ALL PRIVILEGES ON nextcloud.* TO 'nextcloud'@'%';
    FLUSH PRIVILEGES;


